@import "tailwindcss";

:root {
  --primary-blue-first: #00B2E3;
  --primary-blue-second: #0075c9;
  --secondary: #1d252c;
  --white: #dde0e3;
  --yellow: #FBE53D;
  --inline-padding: 6rem;
  --small-padding: 1.25rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
